@import "tailwindcss";

@theme {
    --color-sygris-primary-purple: #4825BE;
    --color-sygris-primary-grey: #182C3F;
    --color-sygris-primary-grey-light: #293D53;
    --color-sygris-primary-purple-light: #7D5DEE;
    --color-sygris-grey-secondary: #5E5E5E;
    --color-sygris-grey-tertiary: #929292;
    --color-sygris-neutral-dark-2: #C8D9E0;
    --color-sygris-neutral-neutral: #EFF4F6;
    --color-sygris-neutral-light: #F8FAFC;
    --color-sygris-white: #FFFFFF;
    --color-sygris-status-yellow: #E8C000;
    --color-sygris-status-green-dark: #20BC9E;
    --color-sygris-status-red-dark: #D6240C;
}

[multiple],
[type=date],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel], [type=text],
[type=time],
[type=url],
[type=week],
select, textarea  {
    border-color: var(--color-sygris-neutral-dark-2);
    ::placeholder {
        color: var(--color-sygris-primary-grey-light);
    }
}

.sidenav-container {
    [role=tooltip]{
        transform: translate3d( 42px,-32px,0px ) !important;
    }
    .tooltip-arrow {
        transform: translateX( 90%) !important;
    }
}

.bg-sygris-primary-purple {
    background-color: var(--color-sygris-primary-purple) !important;
}

.sidenav-container {
    background-color: var(--color-sygris-primary-grey);
    height: calc(100vh - 48px);
    flex-direction: column; justify-content: space-between;
    position: fixed; 
    top: 48px; 
    left: 0; 
    z-index: 40;
}

.sidenav-link {
    width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;
    border-radius: 12px; background-color: var(--color-sygris-primary-grey-light);
    color: white; transition: all 0.3s ease;
}

.sidenav-link.active, .sidenav-link:hover { 
    background-color: var(--color-sygris-primary-purple-light); 
}

/* Animación Acordeón */
[aria-expanded="false"] .accordion-chevron { transform: rotate(180deg); }
[aria-expanded="true"] .accordion-chevron { transform: rotate(0deg); }

.accordion-body-container:not(.hidden) {
    display: block !important;
    animation: slide-down 0.3s ease-out forwards;
}

@keyframes slide-down {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

[data-modal-backdrop] { 
    background-color: rgba(24, 44, 63, 0.7) !important;
    z-index: 30 !important;
 }

.folder-active {
    background-color: var(--color-sygris-neutral-neutral) !important;
    color: var(--color-sygris-primary-purple) !important;
}

.custom-scroll::-webkit-scrollbar { width: 5px; }
.custom-scroll::-webkit-scrollbar-thumb { background: var(--color-sygris-neutral-dark-2); border-radius: 10px; }

.fa-thumbtack {
   padding-top: 2px;
}

#new-dashboard-modal.hidden {
    display: none !important;
    pointer-events: none !important;
}

.dashboard-card {
    position: relative;
    isolation: isolate; 
}